'/processed_data' filter=lfs diff=lfs merge=lfs -text
'processed_data' filter=lfs diff=lfs merge=lfs -text
'processed_data/' filter=lfs diff=lfs merge=lfs -text
'processed_data/01-00-00_all_stats filter=lfs diff=lfs merge=lfs -text
'processed_data/01-00-00_all_stats.json' filter=lfs diff=lfs merge=lfs -text
